@charset "UTF-8";
/* layout */
html,
body {
  width: 100%;
  height: 100%;
}

body.fixed {
  overflow-y: hidden;
}

.main {
  width: 100%;
  height: 100%;
  padding-top: 92px;
}

#wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 214px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 101;
  background-color: rgb(0, 0, 0, 0.2);
  transition: 0.35s;
}

.header__inner {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

/* Footer */
.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -214px;
  height: 214px;
  transform: translateY(-100%);
  background-color: #222222;
}


@media screen and (max-width:1000px) {
  .header__gnb {
    gap: 24px
  }
  .header__gnb .logo {
    display: inline-block;
    width: 180px;
    height: 36px;
  }
  nav.gnb ul {
    gap: 16px;
  }
}
/* Mobile */
@media screen and (max-width:768px) {
  .main {
    padding-top: 64px;
  }

  #wrap {
    padding-bottom: 237px;
  }

  .header {
    height: 64px;
  }


  .footer {
    bottom: -237px;
    height: 237px;
  }

  .footer__inner {  
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0px;
    padding-top: 40px;
  }

}